body {
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: large;
  overflow-x: hidden;
}
.header {
  position: relative;
  color: black;
  padding: 0.5rem;
  font-size: 25px;
  z-index: 1000;
}

.headerBig {
  position: relative;

  color: gray;
  width: 33%;
  background-color: none;
  padding: 1rem;
  font-size: 25px;
  z-index: 1000;
}

h1:hover {
  background-color: honeydew;
  color: black;
  font-weight: bold;
}

a {
  color: black;
  display: block;
  text-decoration: none;
}

a:hover {
  background-color: greenyellow;

  color: thistle;
  font-weight: bold;
}

img {
  display: flex;
  flex-direction: row;
  background-size: contain;
  object-fit: contain;
  max-width: 200px;
  padding: 10px;
}

/* ul {
  padding: 1rem;
}

li {
  list-style: none;
  min-width: 100px;
} */

.nav {
  display: flex;
  position: relative;
  padding: 1rem;
  min-width: 100px;
}
.content {
  padding: 1rem;
  width: 70vw;
}

.main {
  display: flex;
  padding: 1rem;
}

p {
  width: 70vw;
}
.picBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
footer {
  position: relative;
  font-size: smaller;
  color: gray;
  left: 0;
}
